.pagesPanes{

    -fx-background-image: url("/images/bgImage.jpg");
    -fx-background-size: cover;
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
}
.pagesPanesFront{
    -fx-background-color: rgba(255, 255, 255, 0.5);
}